rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions/{document=**} {
      //allow read, write;
      //allow read, create, delete, update;

      // only authenticated users allowed to create
      allow create: if request.auth != null;

      // logged in user's uid must match that of the documents to read them or delete them
      allow read, delete: if request.auth.uid == resource.data.uid;
    }
  }
}